<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Blackbird\HyvaCmsLibrary\Model\Icon\SetRegistry">
        <arguments>
            <argument name="setDefinitions" xsi:type="array">
                <item name="lucide" xsi:type="array">
                    <item name="label" xsi:type="string">Lucide</item>
                    <item name="module" xsi:type="string">Hyva_Theme</item>
                    <item name="path" xsi:type="string">/view/base/web/svg/lucide</item>
                    <item name="value_prefix" xsi:type="string">lucide</item>
                    <item name="asset_prefix" xsi:type="string">Hyva_Theme::svg/lucide</item>
                    <item name="sort_order" xsi:type="number">10</item>
                </item>
                <item name="heroicons_outline" xsi:type="array">
                    <item name="label" xsi:type="string">Heroicons Outline</item>
                    <item name="module" xsi:type="string">Hyva_Theme</item>
                    <item name="path" xsi:type="string">/view/frontend/web/svg/heroicons/outline</item>
                    <item name="value_prefix" xsi:type="string">heroicons/outline</item>
                    <item name="asset_prefix" xsi:type="string">Hyva_Theme::svg/heroicons</item>
                    <item name="sort_order" xsi:type="number">20</item>
                </item>
                <item name="heroicons_solid" xsi:type="array">
                    <item name="label" xsi:type="string">Heroicons Solid</item>
                    <item name="module" xsi:type="string">Hyva_Theme</item>
                    <item name="path" xsi:type="string">/view/frontend/web/svg/heroicons/solid</item>
                    <item name="value_prefix" xsi:type="string">heroicons/solid</item>
                    <item name="asset_prefix" xsi:type="string">Hyva_Theme::svg/heroicons</item>
                    <item name="sort_order" xsi:type="number">30</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
