<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Blackbird_HyvaCmsLibrary">
        <sequence>
            <module name="Hyva_CmsBase"/>
            <module name="Hyva_CmsLiveviewEditor"/>
        </sequence>
    </module>
</config>
